{{ define "main" }}
{{ if .Site.Params.homeInfoParams }}
    <section>
        <h2>{{ .Site.Params.homeInfoParams.Title }}</h2>
        <p>{{ .Site.Params.homeInfoParams.Content }}</p>
    </section>
{{ end }}

<h2>最新文章</h2>
<ul class="post-list">
    {{ range .Site.RegularPages }}
    <li class="post-item">
        <h3 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <div class="post-meta">
            {{ .Date.Format "2006-01-02" }} | {{ .ReadingTime }} min read
        </div>
        <p>{{ .Summary }}</p>
    </li>
    {{ end }}
</ul>
{{ end }}